<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title th:text="${title}"></title>

<th:block th:include="/utilisateurs/admin/_header"></th:block>
</head>

<body id="page-top" th:with="matiereS = ${selectionnez}">

	<!-- Include _nav.html -->
	<th:block th:include="/utilisateurs/admin/_nav"></th:block>

	<div id="wrapper">

		<!-- Include _sidebar.html -->
		<th:block th:include="/utilisateurs/admin/_sidebar"></th:block>

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
					<li class="breadcrumb-item active">Accueil</li>
				</ol>

				<!-- Icon Cards-->
				<div class="row">
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-primary o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fas fa-fw fa-comments"></i>
								</div>
								<div class="mr-5" th:text="${count}+' Nouvelles demandes'"></div>
							</div>
							<a class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">Plus de détails</span> <span
								class="float-right"> <i class="fas fa-angle-right"></i>
							</span>
							</a>
						</div>
					</div>
					<div class="col-xl-3 col-sm-6 mb-3">
						<div class="card text-white bg-warning o-hidden h-100">
							<div class="card-body">
								<div class="card-body-icon">
									<i class="fas fa-fw fa-list"></i>
								</div>
								<div class="mr-5">Tutorats en cours</div>
							</div>
							<a class="card-footer text-white clearfix small z-1" href="#">
								<span class="float-left">Plus de détails</span> <span
								class="float-right"> <i class="fas fa-angle-right"></i>
							</span>
							</a>
						</div>
					</div>

				</div>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Les nouvelles demandes
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>Code</th>
										<th>Prénom(s)</th>
										<th>Nom</th>
										<th>Adresse</th>
										<th>Niveau</th>
										<th>Matière</th>
										<th>Téléphone</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Code</th>
										<th>Prénom(s)</th>
										<th>Nom</th>
										<th>Adresse</th>
										<th>Niveau</th>
										<th>Matière</th>
										<th>Téléphone</th>
										<th>Actions</th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="element: ${allDemande}">
										<td th:text="${element.code}">...</td>
										<td th:text="${element.nom}"></td>
										<td th:text="${element.prenom}">...</td>
										<td th:text="${element.adresse}">...</td>
										<td th:text="${element.niveau}">...</td>
										<td th:text="${element.matiere}">...</td>
										<td th:text="${element.telephone}">....</td>
										<td><a
											th:href="@{/admin/nos-tutorats/nouveau/{id}(id=${element.id})}"
											onclick="NouveauPopup(this.href); return false;"
											class="btn btn-primary"> Créer un tutorat</a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
					<div class="card-footer small text-muted">Dernière mise à
						jour 11 h : 59 min</div>
				</div>

			</div>
			<!-- /.container-fluid -->

			<div class="container">
				<div id="pageForm" class="modal fade">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">

							<div class="modal-header">
								<h2 class="modal-title">Création d'un nouveau tutorat</h2>
							</div>
							<div class="modal-body"></div>
							<div class="modal-footer">
								<button type="button" class="close" data-dismiss="modal">Annuler</button>
							</div>

						</div>

					</div>
				</div>
			</div>

			<!-- Include _footer.html -->
			<th:block th:include="/utilisateurs/admin/_footer"></th:block>

		</div>
		<!-- /.content-wrapper -->

	</div>

	<!-- Include _sidebar.html -->
	<th:block th:include="/utilisateurs/admin/_scriptlink"></th:block>

	<script type="text/javascript">
    	
    	function NouveauPopup(page){
    		height=500;
    		width=550; 
    		
    		if(window.innerWidth)
    			{
    				var left = (window.innerWidth-width)/2;
    				var top = (window.innerHeight-height)/2;
    			}
    		else{
    			var left = (document.body.clientWidth-width)/2;
    			var top = (document.body.clientHeight-height)/2;
    		}
    		
    		window.open(page,'Nouveau Tutorat','menubar=no, location=no, directorie=no, top='+top+', left='+left+', width='+width+', height='+height+'');
    	}
    </script>
</body>

</html>
